@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin-inline: auto;
}